<!-- File: templates/staff_my_flights.html -->
{% extends 'base.html' %}
{% block content %}
<h2>My Flights</h2>
{% if flights %}
  <table class="table">
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for flight in flights %}
        <tr>
          <td>{{ flight.flight_num }}</td>
          <td>{{ flight.departure_airport }}</td>
          <td>{{ flight.arrival_airport }}</td>
          <td>{{ flight.departure_time }}</td>
          <td>{{ flight.arrival_time }}</td>
          <td>{{ flight.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No flights available.</p>
{% endif %}
{% endblock %}